/* Orientation classes */
.orient0 {

}

.orient90 {
    /* mirror + rotate -90 */
    transform: translate(-50%, -50%)
               scaleX(-1)
               rotate(-90)
               translate(50%, 50%);
}

.orient180 {
    /* mirror */
    transform: translate(-50%, -50%)
               scaleX(-1)
               translate(50%, 50%);
}

.orient270 {
    /* rotate -90 */
    transform: translate(-50%, -50%)
               rotate(-90)
               translate(50%, 50%);
}

.orient90 text, .orient180 text {
    /* demirror text */
    transform: translate(-50%, -50%)
                        scaleX(-1)
                        translate(50%, 50%);
}

/* Text classes */
text.aleft {
    text-anchor: start;
}

text.aright {
    text-anchor: end;
}

text.acenter {
    text-anchor: middle;
}

/* Oriented text classes */
.orient90 text.aleft,
.orient180 text.aleft {
    text-anchor: end;
}

.orient90 text.aright,
.orient180 text.aright {
    text-anchor: start;
}
