.sprotty {
    background-color: #002b36; /* base03 */
    stroke: #d33682; /* magenta */
    fill: #002b36; /* base03 */
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2;
}

.sprotty-edge {
    fill: none;
}

text {
    fill: #657b83; /* base00 */
    stroke: none;
    font-family: "Lucida Console", Monaco, monospace;
}

.mouseover {
    stroke: #6c71c4; /* violet */
}

.selected {
    stroke: #859900; /* green */
}

svg text {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg text::selection {
    background: none;
}

.hidden {
    opacity: 0
}
