.sprotty {
    stroke: var(--theia-accent-color2);
    fill: var(--theia-accent-color3);
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2;
}

.sprotty-edge {
    fill: none;
}

text {
    fill: var(--theia-ui-font-color1);
    stroke: none;
    font-family: "Lucida Console", Monaco, monospace;
}

/*.mouseover {
    stroke: #6c71c4;  violet
}*/

.selected {
    stroke: var(--theia-accent-color0);
}

svg text {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg text::selection {
    background: none;
}

.hidden {
    opacity: 0
}
